.requisites {
    max-width: 1280px;
    margin: 65px auto 0;
}

.requisites__table {
    max-width: 1220px;
    margin: 40px auto 0;
    border-collapse: collapse;
}

.requisites__table-text {
    padding: 8px 30px;
    border: 1px solid #ccc;

    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;

    margin: 0;
}

.requisites__table-text_name {
    font-size: 18px;
    font-weight: 400;
}