.exhibition {
    max-width: 1240px;
    margin: 0 auto;
}

.exhibition .exhibition_info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 62px repeat(3, 1fr);
    gap: 8px;

    max-width: 1200px;
    margin: 0 20px 75px 20px;
}

.exhibition .exhibition_title {
    grid-column: span 4 / span 4;
    max-height: 62px;

    display: flex;
    flex-direction: row;

    align-items: flex-end;
}

.exhibition .exhibition_title-text {
    color: #000;
    font-size: 52px;
    font-weight: 400;

    padding: 0;
    margin: 0;
}

.exhibition .exhibition_title-text span {
    color: #ED202A;
}

.exhibition .exhibition_text {
    display: flex;
    flex-direction: column;

    row-gap: 20px;
    padding: 8px;
}

.exhibition .exhibition__info-text {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    padding: 0;
    margin: 0;
}

.exhibition .exhibition__info-text span {
    font-weight: 400;
    font-size: 20px;
}

.exhibition .exhibition_img {
    width: 100%;
}

.exhibition .exhibition-img {
    width: 100%;
    object-fit: cover;

    height: 100%;
    border-radius: 5px;
}

.exhibition .exhibition_promo {
    grid-column-start: 1;
    grid-row-start: 2;
}

.exhibition .exhibition_promo-img {
    width: 100%;
    height: 100%;
    max-width: 294px;

    object-fit: cover;
    border-radius: 5px;
}

.exhibition .exhibition_third {
    grid-row-start: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: center;

    background-color: #eeeeee;
    border-radius: 5px;
}

.exhibition .exhibition_forth {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

.exhibition .exhibition_fifth {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
}

.exhibition .exhibition_sixth {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: #eeeeee;
    border-radius: 5px;
}

.exhibition .exhibition_seventh {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
}

.exhibition .exhibition_eighth {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
}

.exhibition .idea_container {
    display: flex;
    flex-direction: column;
    
    max-width: 1200px;
    margin: 0 20px 75px 20px;
    gap: 8px
}

.exhibition .idea_title-text {
    color: #000;
    font-size: 52px;
    font-weight: 400;

    padding: 0;
    margin: 0;
}

.exhibition .idea_title-text span {
    color: #ED202A;
}  


.exhibition .idea_container_first {
    display: flex;
    flex-direction: row;

    column-gap: 8px;
}

.exhibition .idea_container_first-img {
    max-width: 320px;

    border-radius: 5px;
}

.exhibition .idea_container_first-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color: #eeeeee;
    border-radius: 5px;

    padding: 15px;
    text-align: center;
}

.exhibition .idea__info-text {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    padding: 0;
    margin: 0;
}

.exhibition .idea__info-text span {
    font-weight: 400;
    font-size: 18px;
}

.exhibition .idea_container-img {
    width: 100%;
    object-fit: cover;

    max-height: 480px;
    border-radius: 5px;
}

.exhibition .idea_container_second {
    display: flex;
    flex-direction: row;

    column-gap: 8px;
}

.exhibition .idea_container_second-img {
    max-width: 294px;

    border-radius: 5px;
}

.exhibition .idea__video {
    max-width: 294px;
    border-radius: 5px;
}

.exhibition .idea__video:hover {
    cursor: pointer;
}

.exhibition .idea__error {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1150px) {
    .exhibition .idea__info-text span {
        font-size: 15px;
    }
}

@media screen and (max-width: 1120px) {
    .exhibition .idea_container_second-img {
        max-width: 250px;
    }

    .exhibition .idea__video {
        max-width: 250px;
    }

    .exhibition .idea__info-text {
        font-size: 15px;
    }

    .exhibition .exhibition__info-text span {
        font-size: 18px;
    }

    .exhibition .exhibition__info-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 1020px) {
    .exhibition .idea_container_second-img {
        max-width: 250px;
    }

    .exhibition .idea__video {
        max-width: 250px;
    }

    .exhibition .idea__info-text {
        font-size: 14px;
    }

    .exhibition .exhibition__info-text span {
        font-size: 17px;
    }

    .exhibition .exhibition__info-text {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    .exhibition .idea_container_second {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: auto auto; 
        grid-template-areas: 
            "text text text"
            "img1 img2 video";

        row-gap: 8px;
    }

    .exhibition .idea__info-text span {
        font-size: 17px;
    }
    
    .exhibition .idea_container_second-img:nth-child(1) {
        grid-area: img1;
    }

    .exhibition .idea_container_second-img:nth-child(2) {
        grid-area: img2;
    }

    .exhibition .idea_container_second-img {
        max-width: 100%;
        height: 100%;

        object-fit: fill;
    }

    .exhibition .idea__video {
        grid-area: video;
        min-width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .exhibition .idea_container_first-text {
        grid-area: text;
        max-width: 959px;
        text-align: center;
        min-height: 180px;
    }
}

@media (max-width: 950px) {
    .exhibition .idea_container_first-img {
        max-height: 471px;
        min-width: 270px;
    }

    .exhibition .idea_container-img {
        max-height: 430px;
    }
}

@media (max-width: 900px) {
    .exhibition .exhibition_info {
        grid-template-rows: 62px minmax(100px, 236px) minmax(250px, 400px) repeat(2, minmax(100px, 270px));
    }
    

    .exhibition .exhibition_promo {
        grid-column: span 1 / span 1;
        grid-row-start: 2;
    }
    
    .exhibition .exhibition_third {
        grid-column: span 3 / span 3;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .exhibition .exhibition_forth {
        grid-column: span 4 / span 4;
        grid-row-start: 3;
    }
    
   
    .exhibition .exhibition_fifth {
        grid-column: span 2 / span 2;
        grid-column-start: 1;
        grid-row-start: 4;
    }
    
    .exhibition .exhibition_sixth {
        grid-column: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 4;
    }
    
    .exhibition .exhibition_seventh {
        grid-column: span 2 / span 2;
        grid-row-start: 5;
    }
    
    .exhibition .exhibition_eighth {
        grid-column: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 5;
    }

    .exhibition .exhibition__info-text span {
        font-size: 22px;
    }
    
}

@media (max-width: 890px) {
    .exhibition .idea_title-text {
        font-size: 40px;
    }

    .exhibition .exhibition_title-text {
        font-size: 40px;
    }

    .exhibition .idea_container_first {
        max-height: 350px;
    }

    .exhibition .idea_container_first-img {
        min-width: 220px;
    }

    .exhibition .idea_container-img {
        max-height: 380px;
    }

    .exhibition .idea_container_first-text {
        gap: 10px;
        padding: 10px;
    }

    .exhibition .idea__info-text {
        font-size: 13px;
    }

    .exhibition .exhibition_promo-img {
        min-width: 197px;
    }
}

@media (max-width: 820px) {
    .exhibition .idea_container_first {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: auto auto; 
        grid-template-areas: 
            "img1 text text"
            "img2 img2 img3";

        row-gap: 8px;

        max-height: 100%;;
    }

    .exhibition .idea_container_first-img:nth-child(1) {
        grid-area: img1;
        width: 100%;

        max-width: 254px;
    }

    .exhibition .idea_container_first img:nth-of-type(3) {
        grid-area: img3;

        width: 100%; 
        max-width: none; 

    }

    .exhibition .idea_container_first img:nth-of-type(2) {
        grid-area: img2;
    
        width: 100%; 
        height: 100%; 
        object-fit: fill; 
    }
    
    .exhibition .idea__info-text {
        font-size: 15px;
    }

    .exhibition .idea__video {
        max-width: 100%;
    }
}


@media (max-width: 720px) {
    .exhibition .exhibition__info-text {
        font-size: 14px;
    }

    .exhibition .idea__info-text {
        font-size: 14px;
    }

    .exhibition .idea_title-text {
        font-size: 34px;
    }

    .exhibition .exhibition_title-text {
        font-size: 34px;
    }

    .exhibition .exhibition_info {
        grid-template-rows: 50px minmax(100px, 236px) minmax(250px, 400px) repeat(2, minmax(100px, 270px));
    }

    .exhibition .exhibition__info-text span {
        font-size: 20px;
    }

    .exhibition .idea__info-text span {
        font-size: 16px;
    }
}

@media (max-width: 650px) {
    .exhibition .exhibition_info {
        grid-template-rows: 45px minmax(100px, 236px) minmax(250px, 350px) minmax(250px, 350px) minmax(100px, 200px) repeat(2, minmax(250px, 350px));
    }
    
    .exhibition .exhibition_promo {
        grid-column: span 1 / span 1;
        grid-row-start: 2;
    }
    
    .exhibition .exhibition_third {
        grid-column: span 3 / span 3;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .exhibition .exhibition_forth {
        grid-column: span 4 / span 4;
        grid-row-start: 3;
    }
    
   
    .exhibition .exhibition_fifth {
        grid-column: span 4 / span 4;
        grid-row-start: 4;
    }
    
    .exhibition .exhibition_sixth {
        grid-column: span 4 / span 4;
        grid-row-start: 5;
    }
    
    .exhibition .exhibition_seventh {
        grid-column: span 4 / span 4;
        grid-row-start: 6;
    }
    
    .exhibition .exhibition_eighth {
        grid-column: span 4 / span 4;
        grid-row-start: 7;
    }

    .exhibition .exhibition__info-text span {
        font-size: 18px;
    }

    .exhibition .exhibition__info-text {
        font-size: 15px;
    }

    .exhibition .exhibition_text {
        padding: 14px;
    }


    .exhibition .idea_container_first {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto minmax(100px, 270px) auto; 
        grid-template-areas: 
            "img1 img3"
            "text text"
            "img2 img2";

        row-gap: 8px;

        max-height: 100%;;
    }

    .exhibition .idea_container_first-img:nth-child(1) {
        width: 100%;
        max-width: none;
    }

    .exhibition .idea_container_first-text {
        padding: 15px;
    }

    .exhibition .idea_container_second {
        display: grid
;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
        "img1 text"
        "img2 video";
        row-gap: 8px;
    }

    .exhibition .exhibition_title {
        max-height: 45px;
    }

    .exhibition .idea_title-text {
        font-size: 32px;
    }

    .exhibition .exhibition_title-text {
        font-size: 32px;
    }
}

@media (max-width: 550px) {
    .exhibition .idea_title-text {
        font-size: 25px;
    }
}

@media (max-width: 520px) {
    .exhibition .exhibition__info-text span {
        font-size: 15px;
    }

    .exhibition .idea__info-text {
        font-size: 13px;
    }

    .exhibition .idea__info-text span {
        font-size: 14px;
    }

    .exhibition .exhibition__info-text {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .exhibition .idea_container_first {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "img1"
        "text"
        "img3"
        "img2";
        row-gap: 8px;
        max-height: 100%;
    }

    .exhibition .idea_container_first-img {
        max-height: none;
    }

    .exhibition .idea__info-text {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .exhibition .idea_container_second {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas:
        "text"
        "img2"
        "video"
        "img1";
        row-gap: 8px;
    }

    .exhibition .idea_container_second-img {
        max-height: 524px;

        object-fit: cover;
    }

    .exhibition .idea__video {
        max-height: 524px;
    }

    .exhibition .exhibition_info {
        grid-template-rows: 45px minmax(100px, 350px) minmax(100px, 270px) minmax(250px, 350px) minmax(250px, 350px) minmax(100px, 200px) repeat(2, minmax(250px, 350px));
    }
    
    .exhibition .exhibition_promo {
        grid-column: span 4 / span 4;
        grid-row-start: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .exhibition .exhibition_third {
        grid-column: span 4 / span 4;
        grid-row-start: 3;
    }
    
    .exhibition .exhibition_forth {
        grid-column: span 4 / span 4;
        grid-row-start: 4;
    }
    
   
    .exhibition .exhibition_fifth {
        grid-column: span 4 / span 4;
        grid-row-start: 5;
    }
    
    .exhibition .exhibition_sixth {
        grid-column: span 4 / span 4;
        grid-row-start: 6;
    }
    
    .exhibition .exhibition_seventh {
        grid-column: span 4 / span 4;
        grid-row-start: 7;
    }
    
    .exhibition .exhibition_eighth {
        grid-column: span 4 / span 4;
        grid-row-start: 8;
    }

    .exhibition .exhibition__info-text span {
        font-size: 16px;
    }

    .exhibition .idea__info-text {
        font-size: 13px;
    }

    .exhibition .idea_title-text {
        font-size: 30px;
    }
    
    .exhibition .exhibition_info {
        grid-template-rows: 45px minmax(100px, 320px) minmax(100px, 200px) minmax(250px, 350px) minmax(250px, 350px) minmax(100px, 320px) repeat(2, minmax(250px, 350px));
    }

    .exhibition .exhibition__info-text {
        font-size: 15px;
    }

    .exhibition .exhibition-img {
        object-position: center;
    }
}

@media (max-width: 400px) {
    .exhibition .exhibition_info {
        grid-template-rows: 45px minmax(100px, 320px) minmax(100px, 200px) repeat(2, minmax(250px, 290px)) minmax(100px, 320px) repeat(2, minmax(250px, 290px));
    }
}

@media (max-width: 350px) {
    .exhibition .exhibition-img {
        object-position: 58%;
    }
}
